language: ruby
rvm:
  - 2.0.0
  - jruby-19mode
  - rbx
env:
  - DB=postgres
  - DB=mysql
  - DB=sqlite3
gemfile:
  - gemfiles/Gemfile.rails-4.0.rb
  - gemfiles/Gemfile.rails-stable.rb

before_script: 'bundle exec rake db:create db:up'
script: 'COVERAGE=true bundle exec rake test'
